body{
  font-family: arial;
  font-size:14px;
}

.adZone{
  border:1px solid #ccc;
  width:400px;
  height:170px;
  margin-left: 400px;
  margin-top: 100px;
  background-color: #ecf0f1;
}

.adZone .headline{
  font-family: arial;
  text-align: center;
  background-color: #0092db;
  color:#fff;
  border-bottom:1px solid #ccc;
  display: block;
  line-height: 28px;
}

.icon {
  width: 100px;
  height: 100px;
  margin-top: 20px;
  margin-left: 5px;
}

.content {
  margin-left: 85px;
  margin-top: 20px;
}

.content p{
  font-family:Lucida Sans Unicode;
}